.rst-content blockquote { padding:6px; margin-left:0; background-color: #7D7D7D; color: #EEE;}
.rst-content blockquote p {margin-bottom: 0;}
.rst-content dl:not(.docutils) code.descclassname {display:none;}
.rst-content dl:not(.docutils),
.rst-content dl:not(.docutils).public.method {margin-bottom:60px;}
